#number_rows {
	width: 470px;
	height: 1000px;
	float: left;
}

#number_row1, #number_row2, #number_row3, #number_row4, #number_row5 {
	width: 500px;
	height: 100px;
	float: left;
	margin-bottom: 15px;
}

.number_row {
	width: 70px;
	height: 100px;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  	font-size: 50px;
  	text-align: right;
}

.bottom {
    position: absolute;
    bottom:0;
    right: 0;
}

.row_no_border_100{
  width: 100px;
  height: 100px; 
  text-align: center;
  float: left;
}

.row_no_border_330{
  width: 330px;
  height: 100px; 
  text-align: center;
  float: left;
}

#cities_info {
	width: 500px;
	height: 1000px;
	background-color: #E0E0E0;
	border: 4px dashed #B8B8B8;
	border-radius: 25px;
	float: left;
	margin-left: 30px;
}

#info {
	width: 500px;
	height: 100px;
	float: left;
	margin-left: 30px;
}

#drag_city1 {
  width: 100px;
  height: 100px;
  float: left;
}

#row1a, #row2a, #row3a, #row4a, #row5a{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 0px;
  margin-bottom: 15px;
  border: 3px dashed #B8B8B8;
  border-radius: 15px;
}

#row1b, #row2b, #row3b, #row4b, #row5b{
  width: 330px;
  height: 100px;
  float: left;
  margin-left: 30px;
  margin-bottom: 15px;
   border: 3px dashed #B8B8B8;
  border-radius: 15px;
}

.number_list{
	 width: 70px;
  height: 1000px;
  float: left;
}

.margin_number{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 10px;
}