.Arial_Rd_Pink_34 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 34px;
  color: #FF00CC;
}

.Arial_Rd_Red_40 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 40px;
  color: #FF0033;
}

.Arial_Rd_DkGreen_40 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 40px;
  color: #006600;
}

.Arial_Rd_Grey_50 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 50px;
  color: #606060;
}

.Arial_Rd_Grey_30 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 30px;
  color: #606060;
}